* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  background-image: url(images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
}

.logo {
  margin-top: 40px;
  width: 100px;
}

.header-text {
  margin-top: 200px;
  max-width: 450px;
}

.main-heading {
  font-size: 39px;
  line-height: 1.3;
}

.square {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  background-color: #f67c92;
}

.para {
  margin-top: 40px;
  font-weight: bold;
  text-align: justify;
  color: #777;
  font-weight: bold;
}

.common-btn {
  margin-top: 20px;
  padding: 18px 40px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #f67c92;
  cursor: pointer;
}

.common-btn:hover {
  color: white;
  background: #f67c92;
}

.line1 {
  margin-top: 80px;
  height: 20px;
  width: 20px;
  background-color: #f67c92;
  display: inline-block;
}

.line2 {
  height: 1px;
  width: 140px;
  background-color: #f67c92;
  display: inline-block;
}

.line3 {
  height: 1px;
  width: 100px;
  background-color: #f67c92;
  display: inline-block;
}

.line {
  line-height: 8px;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: #f67c92;
  z-index: 2;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#menuBtn {
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

/* about section */

#about{
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 100%;
}

.about-right-col {
  flex-basis: 50%;
  text-align: right;
}

.about-text {
  max-width: 530px;
  margin-right: 100px;
  display: inline-block;
}

.about-text h1 {
  font-size: 40px;
}

.about-text h2 {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}

.about-text h3 {
  font-size: 20px;
  font-style: italic;
  color: #797979;
}

/* features */

#features {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-col {
  flex-basis: 25%;
  text-align: center;
}

.feature-col img {
  width: 100px;
}

.feature-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.feature-btn {
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* courses */

#courses {
  padding: 100px 0;
}

.course-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.course-right-col {
  flex-basis: 50%;
}

.course-right-col img {
  width: 100%;
}

.course-left-col {
  flex-basis: 50%;
}

.course-text {
  max-width: 350px;
}

.course-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.course-text .c-square {
  margin-bottom: 20px;
  height: 20px;
  width: 20px;
  background-color: #f67c92;
}
.course-text .line .line1 {
  margin-top: 30px;
}

/* offer */
#offer{
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.o-line .line1 {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  background-color: #f67c92;
  display: inline-block;
}

/* contact */

.contact-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-left-col,.contact-right-col{
flex-basis: 50%;
}

.contact-right-col img{
  width: 100%;
}

form{
  max-width: 350px;
  margin: 30px 0;
}

form input{
  display: block;
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #fab3c4;
}

.btn-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-box button{
  flex-basis: 48%;
  padding: 18px 0;
}

/* footer */

#footer{
  padding: 50px 0 30px;
}

hr{
  width: 100%;
  border: 0;
  border-top: 1px solid #f67c92;
}

.footer-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-col{
  flex-basis:50%;
  margin-top: 60px;
}

.footer-right-col{
  flex-basis:35%;
}

.footer-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-title h4{
color: #fab3c4;
margin-bottom: 20px;
}


.link-title small{
  font-size: 13px;
  color: #777;
}

.footer-info{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
} 

.footer-logo img{
width: 100px;

}

/* socila icons */
.social-icons{
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.social-icons img{
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}

@media only screen and (max-width: 770px){
  #header{
    background-image: none;
  }
  
   #sideNav {
    width: 150px;
    right: -150px; 
  }
  
 #header .line1 {
    margin-top: 40px;
    
  }

.container {
  margin-left: 50px;
  margin-right: 50px;
}

.logo {
  margin-top: 27px;
  width: 70px;
}

.header-text {
  margin-top: 100px;  
}

h1{
  font-size: 25px;
}


#menuBtn {
  width: 40px;
  right: 50px;  
}

.common-btn {
  padding: 10px 16px;
  
}

.social-icons img{
  width: 18px;
  margin: 15px auto;
  
}


.about-left-col,.about-right-col {
  flex-basis: 100%;
  text-align: justify;
}

.about-text {
  margin: 50px 50px 0;
  display: inline-block;
}

.about-text h1 {
  font-size: 20px;
}

.about-text h2 {
  font-size: 18px;
  
}

#about .square {
  margin-top: 20px;
  margin-bottom: 10px;
}

#about .line1 {
  margin-bottom: 20px;
  
}

.feature-col{
  flex-basis: 100%;
  margin-bottom: 20px;
}

.feature-btn {
  margin: px auto 0;
}
.course-left-col{
  flex-basis: 100%;
}
.course-right-col{
  flex-basis: 100%;
  margin-top: 70px;
}

.contact-left-col,.contact-right-col{
  flex-basis: 100%;
  }

  .footer-left-col{
    flex-basis:100%;
  }
  .footer-right-col{
    flex-basis:100%;
  }

  .link-title{
    flex-basis: 50%;
  }
  .link-title h4{
    margin-top: 10px;
    margin-bottom: 5px;
    }
  
   .footer-logo img{
      width: 70px;
      
      }
